on: [push]

name: Auto build

jobs:
  fmt:
    name: "Run rustfmt and clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Install toolchain"
        run: rustup toolchain install stable --profile minimal -c rustfmt,clippy -t thumbv6m-none-eabi
      - name: "Install libraries and gcc-arm"
        run: |
          sudo apt-get update
          sudo apt-get install libclang-dev llvm-dev gcc-arm-none-eabi
      - name: "Check formatting in root"
        run: cargo fmt --all --check
      - name: "Run clippy for debug build"
        run: cargo clippy --no-deps -- -D warnings
      - name: "Run clippy for release build"
        run: cargo clippy --release --no-deps -- -D warnings

  test:
    name: "Run unittests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Install toolchain"
        run: rustup toolchain install stable
      - name: "Run tests in root"
        run: cargo test

  stm32l073:
    name: "Build for STM32L073RZ"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Install toolchain"
        run: rustup toolchain install stable -t thumbv6m-none-eabi
      - name: "Install libraries and gcc-arm"
        run: |
          sudo apt-get update
          sudo apt-get install libclang-dev llvm-dev gcc-arm-none-eabi
      - name: "Build for debug"
        run: cargo build
      - name: "Build release"
        run: cargo build --release
